<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.controller.UserController" name="uc"
		scope="prototype"></bean>

	<bean class="com.controller.AdminController" name="ac"
		scope="singleton"></bean>

	<bean class="com.controller.SessionController" name="sc">
		<constructor-arg ref="userDao"></constructor-arg>
		<property name="adminDao" ref="ado"></property>
	</bean>
	<bean class="com.dao.UserDao" name="userDao" />


	<bean class="com.bean.UserBean" name="userBean">
		<property name="firstName" value="gabbar"></property>
	</bean>

	<bean class="com.dao.AdminDao" name="ado"></bean>
</beans>